{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/acompanhamentos.css"> {% endblock %}

{% block titulo %}Acompanhamentos{% endblock %}

{% block conteudo %}

<!--<html>-->
<!--<head>-->
<!--<body>-->

<iframe src="https://www.youtube.com/embed/on3u7fwCMu8" title="YouTube video player" class="videos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h1 class="batata">BATATA ASSADA COM PÁPRICA</h1>
<h3 class="minidescricao">Para as batatas ficarem macias por dentro e crocantes por fora, o truque é cozinhar antes de assar. Na hora de cozinhar, vai hortelã, para dar toque de frescor. E na hora de assar, vai páprica, que além de dar uma cor linda, ainda garante mais uma camada de sabor.</h3>

<h3 class="especificacoesautor">Autor(a)<strong> Panelinha</strong></h3>
<h3 class="especificacoes">Tempo de preparo<strong> Até 1h </strong></h3>
<h3 class="especificacoes">Rendimento<strong> 6 porções</strong></h3>

<div id="linha-horizontal"></div>
<h4 id="modopreparosacompanhamentos"><strong>INGREDIENTES</strong></h4>
<ul id="igredientes">
  <h4>
    <li>4 batatas baraka (cerca de 800 g)</li>
    <li>2 dentes de alho</li>
    <li>3 colheres (sopa) de azeite</li>
    <li>4 ramos de hortelã</li>
    <li>1 ½ colher (chá) de páprica doce</li>
    <li>sal e pimenta-do-reino moída na hora a gosto</li>
  </h4>
</ul>

<h4 id="modopreparosacompanhamentos"><strong>MODO DE PREPARO</strong></h4>

<h4 class="text-break"><strong>1.</strong> Preaqueça o forno a 220 ºC (temperatura alta).</h4>

<h4 class="text-break"><strong>2.</strong> Com uma escovinha para legumes, lave bem a casca das batatas sob água corrente. Corte as batatas ao meio, no sentido do comprimento, e cada metade em 6 gomos. Com a lateral da lâmina da faca, amasse e descasque os dentes de alho.</h4>

<h4 class="text-break"><strong>3.</strong> Transfira as batatas e os dentes de alho para uma panela grande, junte os ramos de hortelã e cubra com água. Tempere com 1 colher (chá) de sal e leve ao fogo alto. Quando começar a ferver, diminua o fogo para médio e deixe cozinhar por cerca de 5 minutos — as batatas devem estar cozidas mas ainda firmes, espete com um garfo para verificar o ponto.</h4>

<h4 class="text-break"><strong>4.</strong> Escorra bem as batatas, para tirar todo o excesso de água — assim elas ficam mais crocantes ao assar. Descarte os ramos de hortelã.</h4>

<h4 class="text-break"><strong>5.</strong> Transfira os gomos de batata e os dentes de alho para uma assadeira grande (de preferência antiaderente). Regue com o azeite, tempere com a páprica, sal e pimenta a gosto. Misture bem com as mãos. </h4>

<h4 class="text-break"><strong>6.</strong> Espalhe os gomos na assadeira, sem amontoar — quanto mais espaçados estiverem, mais crocantes e dourados ficam. Leve ao forno para assar por cerca de 40 minutos, até as batatas ficarem douradas e crocantes por fora e macias no centro — na metade do tempo, vire com uma espátula. Sirva a seguir.</h4>

{% endblock %}

<!--</body>-->
<!--</head>-->
<!--</html>-->