{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/acompanhamentos.css"> {% endblock %}

{% block titulo %}Acompanhamentos{% endblock %}


{% block conteudo %}

<!--<html>-->
<!--<head>-->
<!--<body>-->

    <iframe src="https://www.youtube.com/embed/7hDqs5-Tydw" title="YouTube video player" class="videos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h1 class="salada"> SALADA DE COUVE COM </h1>
    <h1 class="salada2"> VINAGRETE DE LARANJA </h1>
    <h3 class="minidescricao">Doce, amargo, azedo e salgado. Esta salada tem quase todos os gostos. O vinagrete de laranja-baía, feito com o caldo e as raspinhas da fruta, é uma carta na manga para temperar outras saladas e sanduíches.</h3>

    <h3 class="especificacoesautor">Autor(a)<strong> Panelinha</strong></h3>
    <h3 class="especificacoes">Tempo de preparo<strong> Até 5 min </strong></h3>
    <h3 class="especificacoes">Rendimento<strong> 4 porções</strong></h3>

    <div id="linha-horizontal"></div>
    <h4 id="modopreparosacompanhamentos"><strong>INGREDIENTES</strong></h4>
    <ul id="igredientes">
    <h4>
      <li>5 folhas de couve</li>
      <li>½ cebola roxa</li>
      <li>raspas e caldo de 1 laranja</li>
      <li>½ colher (chá) de azeite</li>
      <li>1 colher (chá) de vinagre de vinho branco</li>
      <li>1 colher (chá) de mel</li>
      <li>sal e pimenta-do-reino moída na hora a gosto</li>
    </h4>
  </ul>

   <h4 id="modopreparosacompanhamentos"><strong>MODO DE PREPARO</strong></h4>

      <h4 class="text-break"><strong>1.</strong> Lave e seque as folhas de couve. Faça um corte em "V" rente à base do talo de cada folha e descarte os talos. Na tábua, sobreponha uma folha na outra e corte no meio, no sentido do comprimento. Fatie as metades grosseiramente e reserve.<h4>

      <h4 class="text-break"><strong>2.</strong> Prepare o vinagrete: descasque e pique fino a cebola, transfira para uma tigela e misture com o azeite, o mel, o vinagre, as raspas e o caldo de laranja.</h4>

      <h4 class="text-break"><strong>3.</strong> Numa travessa, coloque a couve picada e misture com o vinagrete apenas na hora de servir. Tempere com sal pimenta-do-reino moída na hora a gosto.</h4>


{% endblock %}

<!--</body>-->
<!--</head>-->
<!--</html>-->