{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/acompanhamentos.css"> {% endblock %}

{% block titulo %}Acompanhamentos{% endblock %}


{% block conteudo %}

<!--<html>-->
<!--<head>-->
<!--<body>-->

    <iframe src="https://www.youtube.com/embed/oNnRwoyYmo4" title="YouTube video player" class="videos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h1 class="tostones"> TOSTONES DE MANDIOCA </h1>
    <h3 class="minidescricao"> São dourados por fora e cremosos por dentro. São viciantes! Para facilitar, a receita vem com dica de planejamento: dá pra preparar antes e congelar para fritar na hora. Os tostones brilham nos preparos com peixe, como o ceviche e moqueca. Ou até no pê-efe praiano.</h3>

    <h3 class="especificacoesautor">Autor(a)<strong> Panelinha</strong></h3>
    <h3 class="especificacoes">Tempo de preparo<strong> Até 2hr </strong></h3>
    <h3 class="especificacoes">Rendimento<strong> 4 porções</strong></h3>

    <div id="linha-horizontal"></div>
    <h4 id="modopreparosacompanhamentos"><strong>INGREDIENTES</strong></h4>
    <ul id="igredientes">
    <h4>
      <li>500 g de mandioca descascada</li>
      <li>3 xícaras (chá) de óleo para fritar</li>
      <li>sal a gosto</li>
    </h4>
  </ul>

   <h4 id="modopreparosacompanhamentos"><strong>MODO DE PREPARO</strong></h4>

      <h4 class="text-break"><strong>1.</strong> Corte a mandioca em toletes de cerca de 8 cm e leve à panela de pressão. Adicione 1 ½ colher (chá) de sal e cubra com água, sem ultrapassar o nível máximo de ⅔ da panela – cerca de 1,5 litro é suficiente. </h4>

      <h4 class="text-break"><strong>2.</strong> Tampe e leve a panela ao fogo alto. Quando começar a apitar, abaixe o fogo e conte 15 minutos – a mandioca deve estar cozida e macia o suficiente para ser cortada e amassada, se estiver muito firme os tostones podem rachar e ficar secos depois de fritos. </h4>

      <h4 class="text-break"><strong>3.</strong> Passados os 15 minutos, desligue o fogo e, importante, espere todo o vapor sair e a panela parar de apitar antes de abrir a tampa. Escorra a água e transfira os pedaços de mandioca cozidos para um refratário. Leve à geladeira para amornar por cerca de 20 minutos – assim fica mais fácil de manusear e amassar as mandiocas.</h4>

      <h4 class="text-break"><strong>4.</strong> Corte a mandioca em pedaços médios, de cerca de 4 cm x 3 cm, para isso:  corte cada tolete cozido ao meio, no sentido do comprimento, retire e descarte a fibra central. Corte cada metade ao meio novamente, no sentido do comprimento (se estiverem muito grossos corte em 3 tiras). Agora, corte cada uma dessas tiras ao meio, no sentido da largura.</h4>

      <h4 class="text-break"><strong>5.</strong> Corte um saco próprio para alimentos ao meio e coloque sobre a tábua. Disponha um pedaço de mandioca no centro, cubra com o plástico e prense delicadamente com um batedor de carne (ou uma panelinha pesada), para o tostone ficar com 0,7 cm de espessura – se a mandioca ficar muito fina, perderá a textura cremosa interior e poderá quebrar na hora de fritar. Transfira com cuidado o tostone amassado para uma assadeira e repita com o restante.</h4>

      <h4 class="text-break"><strong>6.</strong> Leve uma panela média com o óleo ao fogo alto para aquecer. Enquanto isso, forre uma travessa com papel-toalha.  </h4>

      <h4 class="text-break"><strong>7.</strong> Assim que o óleo estiver quente, com cuidado, mergulhe 4 tostones de cada vez. Frite por 3 minutos, ou até ficarem levemente dourados – vire os tostones com a escumadeira para dourar de maneira uniforme.</h4>

      <h4 class="text-break"><strong>8.</strong> Com a escumadeira, transfira os tostones fritos para a travessa forrada com papel-toalha e repita com o restante. Tempere com sal a gosto e sirva a seguir. Fica uma delícia puro, para acompanhar o PF, com guacamole, com queijo de iogurte temperado, ou para acompanhar o ceviche.</h4>


{% endblock %}

<!--</body>-->
<!--</head>-->
<!--</html>-->