{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/acompanhamentos.css"> {% endblock %}

{% block titulo %}Acompanhamentos{% endblock %}


{% block conteudo %}

<!--<html>-->
<!--<head>-->
<!--<body>-->
    <iframe src="https://www.youtube.com/embed/Q0mZJ6bHnKw" title="YouTube video player" class="videos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h1 class="arrozvermelho"> ARROZ VERMELHO  </h1>
    <h3 class="minidescricao"> O arroz vermelho é aromático, tem um quê de sabor de castanha e uma cor linda. O tempo de cozimento é maior que do arroz branco, mas vale a pena cada minuto de preparo!</h3>

    <h3 class="especificacoesautor">Autor(a)<strong> Panelinha</strong></h3>
    <h3 class="especificacoes">Tempo de preparo<strong> Até 1hr </strong></h3>
    <h3 class="especificacoes">Rendimento<strong> 4 porções</strong></h3>

    <div id="linha-horizontal"></div>
    <h4 id="modopreparosacompanhamentos"><strong>INGREDIENTES</strong></h4>
    <ul id="igredientes">
    <h4>
      <li> 1 xícara (chá) de arroz vermelho</li>
      <li> 3 xícaras (chá) de água</li>
      <li> ½ cebola</li>
      <li> 1 colher (sopa) de azeite</li>
      <li> 1 folha de louro</li>
      <li> ½ colher (chá) de sal</li>
    </h4>
  </ul>

   <h4 id="modopreparosacompanhamentos"><strong>MODO DE PREPARO</strong></h4>

      <h4 class="text-break"><strong>1.</strong> Descasque e pique fino a cebola. Numa chaleira, leve um pouco mais de 3 xícaras (chá) de água ao fogo baixo para ferver. <h4>

      <h4 class="text-break"><strong>2.</strong> Leve uma panela média ao fogo baixo. Quando aquecer, regue com o azeite, acrescente a cebola picada e tempere com uma pitada de sal. Refogue por cerca de 2 minutos, até murchar. </h4>

      <h4 class="text-break"><strong>3.</strong> Acrescente o arroz (não é preciso lavar antes de cozinhar), o louro e mexa bem por cerca de 1 minuto para envolver todos os grãos com o azeite isso ajuda a deixar o arroz soltinho depois de cozido. </h4>

      <h4 class="text-break"><strong>4.</strong> Meça 3 xícaras (chá) da água fervente e regue o arroz. Tempere com o sal, misture e aumente o fogo para médio. Não mexa mais. </h4>

      <h4 class="text-break"><strong>5.</strong> Assim que a água atingir o mesmo nível do arroz, cerca de 25 minutos depois, diminua o fogo e tampe parcialmente a panela. Deixe cozinhar até que o arroz absorva toda a água – para verificar se a água secou, fure o arroz com um garfo e afaste delicadamente alguns grãos do fundo da panela; se ainda estiver com água no fundo da panela, deixe cozinhar mais um pouquinho. </h4>

      <h4 class="text-break"><strong>6.</strong> Desligue o fogo e mantenha a panela tampada por 5 minutos antes de servir, assim os grãos terminam de cozinhar no próprio vapor. Em seguida, solte os grãos com um garfo, transfira para uma tigela e sirva quente. </h4>




{% endblock %}

<!--</body>-->
<!--</head>-->
<!--</html>-->