{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/acompanhamentos.css"> {% endblock %}

{% block titulo %}Acompanhamentos{% endblock %}


{% block conteudo %}

<!--<html>-->
<!--<head>-->
<!--<body>-->

    <iframe src="https://www.youtube.com/embed/6XJG-EQYgkE" title="YouTube video player" class="videos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h1 class="farofavaeia"> FAROFA DE AVEIA</h1>
    <h3 class="minidescricao"> Em dez minutos você descola uma farofinha crocante para comer com o iogurte ou a salada de frutas, perfumada com um toque de canela. Ideal para aquele momento em que acabou a granola e ainda não deu tempo de preparar outra fornada.</h3>

    <h3 class="especificacoesautor">Autor(a)<strong> Panelinha</strong></h3>
    <h3 class="especificacoes">Tempo de preparo<strong> Até 5 mim </strong></h3>
    <h3 class="especificacoes">Rendimento<strong> 2 xícaras (chá)</strong></h3>

    <div id="linha-horizontal"></div>
    <h4 id="modopreparosacompanhamentos"><strong>INGREDIENTES</strong></h4>
    <ul id="igredientes">
    <h4>
      <li> 1 xícara (chá) de aveia em flocos</li>
      <li> ½ xícara (chá) de coco seco em flocos</li>
      <li> ¼ de xícara (chá) de açúcar mascavo</li>
      <li> 1 ½ colher (chá) de canela</li>
      <li> 1 pitada de sal</li>
      <li> 2 colheres (sopa) de óleo</li>
    </h4>
  </ul>

   <h4 id="modopreparosacompanhamentos"><strong>MODO DE PREPARO</strong></h4>

      <h4 class="text-break"><strong>1.</strong> Numa tigela misture a aveia, o coco, o açúcar mascavo, a canela e o sal.<h4>

      <h4 class="text-break"><strong>2.</strong> Leve uma frigideira grande ao fogo médio. Quando aquecer, regue com o óleo e acrescente a mistura de secos. Deixe dourar por 4 minutos, mexendo de vez em quando com uma espátula, até formar uma farofa crocante e sequinha.</h4>

      <h4 class="text-break"><strong>3.</strong> Desligue o fogo e transfira para uma travessa. Deixe esfriar completamente antes de armazenar. Sirva com salada de frutas, iogurte, sorvetes ou creme de abacate.</h4>



{% endblock %}

<!--</body>-->
<!--</head>-->
<!--</html>-->