{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Receitas{% endblock %}


{% block conteudo %}

<!--<html>-->

<!--<body>-->

  <section>

    <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://images.pexels.com/photos/5612346/pexels-photo-5612346.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Batata assada com páprica</h4>
              <p class="card-text">Para as batatas ficarem macias por dentro e crocantes por fora, o truque é cozinhar antes de assar.</p>
     <a href="{{url_for('receitas.acompanhamentos1')}}" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

      <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://images.pexels.com/photos/1543796/pexels-photo-1543796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Salada de couve com vinagrete de laranja</h4>
              <p class="card-text">Esta salada tem quase todos os gostos. O vinagrete de laranja-baía, é uma carta na manga para temperar outras saladas e sanduíches.</p>
               <a href="{{url_for('receitas.acompanhamentos2')}}" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://cdn.pixabay.com/photo/2014/12/06/03/41/cassava-558755_960_720.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Tostones de mandioca</h4>
              <p class="card-text">Para facilitar, a receita vem com dica de planejamento: dá pra preparar antes e congelar para fritar na hora.</p>
               <a href="{{url_for('receitas.acompanhamentos3')}}" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://cdn.pixabay.com/photo/2016/05/21/20/13/rice-1407379_960_720.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Arroz vermelho</h4>
              <p class="card-text">O arroz vermelho é aromático, tem um quê de sabor de castanha e uma cor linda. </p>
               <a href="{{url_for('receitas.acompanhamentos4')}}" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://images.pexels.com/photos/3872412/pexels-photo-3872412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Farofa de aveia</h4>
              <p class="card-text">Em dez minutos você descola uma farofinha crocante para comer com o iogurte ou a salada de frutas, perfumada com um toque de canela.</p>
               <a href="{{url_for('receitas.acompanhamentos5')}}" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://cdn.pixabay.com/photo/2014/09/09/11/16/mashed-potatoes-439976_960_720.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Purê de batata com chips de casca</h4>
              <p class="card-text">As batatas vão render! Até as cascas viram chips nesta receita cheia de truques para você preparar o purê dos sonhos.</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://images.pexels.com/photos/5863619/pexels-photo-5863619.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Arroz branco soltinho</h4>
              <p class="card-text">Aqui você confere todos os truques para fazer aquele arroz bem soltinho!</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
        <img src="https://images.unsplash.com/photo-1594397108792-a44907416b83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Farofa de cenoura</h4>
              <p class="card-text">Crocante e adocicada, essa farofa de milho com cenoura e cebola é viciante. Combina com muita coisa: com grelhados, ensopados, assados... </p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

</section>

{% endblock %}

<!--</body>-->
<!--</html>-->