{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Página inicial{% endblock %}


{% block conteudo %}

<!--<html>-->

<!--<body>-->

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2016/01/26/00/53/potatoe-1161819_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BATATA ASSADA COM PÁPRICA</h5>
          <p class="card-text">Para as batatas ficarem macias por dentro e crocantes por fora, o truque é cozinhar antes de assar. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/1543796/pexels-photo-1543796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">SALADA DE COUVE COM VINAGRETE DE LARANJA</h5>
          <p class="card-text">Esta salada tem quase todos os gostos. O vinagrete de laranja-baía, feito com o caldo e as raspinhas da fruta, é uma carta na manga para temperar outras saladas e sanduíches.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2014/12/06/03/41/cassava-558755_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">TOSTONES DE MANDIOCA</h5>
          <p class="card-text">Para facilitar, a receita vem com dica de planejamento: dá pra preparar antes e congelar para fritar na hora. Os tostones brilham nos preparos com peixe, como o ceviche e moqueca.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2016/05/21/20/13/rice-1407379_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ARROZ VERMELHO</h5>
          <p class="card-text">O arroz vermelho é aromático, tem um quê de sabor de castanha e uma cor linda. O tempo de cozimento é maior que do arroz branco, mas vale a pena cada minuto de preparo!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/3872412/pexels-photo-3872412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">FAROFA DE AVEIA</h5>
          <p class="card-text">Em dez minutos você descola uma farofinha crocante para comer com o iogurte ou a salada de frutas, perfumada com um toque de canela.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2014/09/09/11/16/mashed-potatoes-439976_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">PURÊ DE BATATA COM CHIPS DE CASCA</h5>
          <p class="card-text">As batatas vão render! Até as cascas viram chips nesta receita cheia de truques para você preparar o purê dos sonhos.</p>
        </div>
      </div>
    </div>
  </div>

  
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/5863619/pexels-photo-5863619.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ARROZ BRANCO SOLTINHO</h5>
          <p class="card-text">Aqui você confere todos os truques para fazer aquele arroz bem soltinho!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2020/01/21/20/03/beans-4783866_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">FEIJÃO COM GENGIBRE</h5>
          <p class="card-text">Esta é daquelas combinações que nunca passam pela cabeça. Mas depois que a gente prova, vira fã!</p>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
  
<!--</body>-->
<!--</html>-->