{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Página inicial{% endblock %}


{% block conteudo %}

<!--<html>-->

<!--<body>-->

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">PANQUECA AMERICANA</h5>
          <p class="card-text">Com frutas, mel, xarope de maple ou geleia. Essas panquecas bem fofas, cheias de furinhos, são perfeitas para o café da manhã do fim de semana.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/2067424/pexels-photo-2067424.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">COOKIES COM GOTAS DE CHOCOLATE</h5>
          <p class="card-text"> Para quem prefere uma versão mais doce, é só trocar o chocolate. O truque para que ele fique crocante por fora e úmido por dentro é o estágio no congelador. Não pule essa etapa! </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2020/06/21/15/59/cheese-bread-5325629_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">PÃO DE QUEIJO</h5>
          <p class="card-text">Redondinho e bem dourado, com a casquinha crocante e o miolo levemente puxa-puxa e sabor marcante de queijo. Você pode preparar e assar na hora, pode guardar para assar depois ou ainda pode congelar as bolinhas cruas.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2018/05/08/14/31/carrot-cake-3383170_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BOLO DE CENOURA COM COBERTURA DE CHOCOLATE</h5>
          <p class="card-text">Bolo de cenoura fica macio, bem fofinho, no ponto para receber a calda de chocolate.
</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/461060/pexels-photo-461060.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">PÃO AUSTRALIANO</h5>
          <p class="card-text">A massa escura, macia e adocicada desse pão tão popular leva melado de cana e cacau. Para deixar a casca com essa aparência rústica, vai uma polvilhada de fubá antes de assar.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/2267871/pexels-photo-2267871.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BOLO DE CHOCOLATE NA CANECA DE MICRO-ONDAS</h5>
          <p class="card-text">Para matar a vontade de um doce no meio da tarde ou resolver uma sobremesa rápida. Para ficar com cara de festa, sirva com creme batido ou uma bola de sorvete.</p>
        </div>
      </div>
    </div>
  </div>

  
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/1639564/pexels-photo-1639564.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BOLO DE CREPE COM GELEIA DE MORANGO</h5>
          <p class="card-text"> O melhor é que o sabor é elegante, delicado: o creme e o crepe são mais neutros, deixam a geleia brilhar e causar surpresa com seu toque azedinho-doce.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/6832697/pexels-photo-6832697.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">OMELETE DE HOTEL</h5>
          <p class="card-text">A mais cremosa das omeletes ganha um recheio saboroso e arrebatador: espinafre refogado e queijo parmesão.</p>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

<!--</body>-->

<!--</html>-->