{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Página inicial{% endblock %}


{% block conteudo %}

<!--<html>-->

<!--<body>-->

<section>

    <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://cdn.pixabay.com/photo/2016/02/18/16/48/tomato-1207570_960_720.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Salada de tomate com manjericão</h4>
              <p class="card-text">Um pouco de sal grosso e um pouco de tempo. Isso é tudo o que você precisa para transformar uma salada de tomate simples em um espetáculo de salada.</p>
     <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

      <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://cdn.pixabay.com/photo/2017/04/05/22/35/salad-2206627_960_720.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Salada de ovos</h4>
              <p class="card-text">Com maionese caseira, os ovos cozidos no ponto certo e salsinha e endro frescos para temperar, a salada de ovos rouba a cena de tão gostosa que fica!</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://cdn.pixabay.com/photo/2019/10/28/16/38/chard-4584898_960_720.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Salada picante de acelga</h4>
              <p class="card-text">Está precisando impressionar? Essa salada levanta a arquibancada!</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Espaguete de pupunha com tomate e nozes</h4>
              <p class="card-text">Tudo o que você tem que fazer é tirar o palmito desfiado do pacotinho e cozinhar rapidamente. Esse tipo de comida instantânea vale! É comida de verdade, saudável e cheia de charme!</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://images.pexels.com/photos/6824808/pexels-photo-6824808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Panqueca de ricota e espinafre</h4>
              <p class="card-text">Um ótimo exemplo de comida que tem que ter numa geladeira de família. É leve, saudável, fácil de fazer e fica meio pronta... Na hora, é só preparar o molho e dar aquela gratinada.</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://cdn.pixabay.com/photo/2017/06/30/16/31/fourth-of-july-2458716_960_720.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Picolé mesclado de goiaba com iorgute</h4>
              <p class="card-text">Esta gostosura, feita de iogurte e fruta, é saudável, saborosa e refresca a alma!</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://images.pexels.com/photos/1437268/pexels-photo-1437268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Omelete de forno com salda de tomate</h4>
              <p class="card-text">A omelete, de mandioquinha e alho-poró, vai para o forno e a salada, de tomate com cebola, vai para a frigideira. Depois, as duas se encontram em uma refeição diferente, saborosa e saudável.</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://cdn.pixabay.com/photo/2014/11/05/15/57/salmon-518032_960_720.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Quibe de peixe com saladinha de pepino</h4>
              <p class="card-text">Saudável e prático, este quibe de peixe é a refeição ideal para a correria do dia a dia. É rápido de fazer e delicioso de comer.</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

</section>

{% endblock %}

<!--</body>-->
<!--</html>-->