{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Página inicial{% endblock %}

{% block conteudo %}

<!--<html>-->

<!--<body>-->

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2016/10/21/23/33/stew-1759394_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">MOQUECA DE BANANA-DA-TERRA</h5>
          <p class="card-text">Um refogado caprichado, com alho, pimenta dedo-de-moça, pimenta de cheiro e raiz e talos de coentro dá uma potência de sabor para essa versão vegana do clássico preparo brasileiro.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2016/11/06/23/33/zucchini-1804460_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ABOBRINHA COZIDA NO MOLHO DE TOMATE</h5>
          <p class="card-text">Por que ensopado tem que ser de carne, peixe ou frango? Abobrinha cozida no molho de tomate fica incrível.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2018/05/05/00/41/food-3375436_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">TAGINE DE LEGUMES</h5>
          <p class="card-text">Prato principal sem carne e com escala em Marrakesh. Para melhorar, é preparo rápido, daqueles que encaixam fácil em dia de semana.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/4451869/pexels-photo-4451869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">RAGU DE CENOURA</h5>
          <p class="card-text">Olha esse ragu de cenoura cheio de especiarias! Uma misturinha de temperos típica do Marrocos, é o segredo deste prato super aromático.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/674576/pexels-photo-674576.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ENSOPADO DE CURRY</h5>
          <p class="card-text">Uma combinação de especiarias, ervas e legumes aromáticos forma a base de sabor desse ensopado que perfuma a casa toda.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2015/09/03/09/58/polenta-920267_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">POLENTA COM RAGU DE COGUMELOS</h5>
          <p class="card-text">No lugar do tradicional ragu de carne, esta receita de polenta é servida com um mix de cogumelos cozidos em vinho tinto. Um arraso!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2015/01/07/19/00/fall-591800_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">QUIBE DE ABÓBORA COM RICOTA</h5>
          <p class="card-text">O quibe de abóbora entrou no cardápio geral, há muito deixou de ser exclusividade de quem é vegetariano. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/53821/pexels-photo-53821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BRÓCOLIS CREMOSO COM CROCANTE DE CASTANHA</h5>
          <p class="card-text">O brócolis vai ao forno com uma farofinha de castanha, fica cremoso, com uma crosta dourada e crocante. Para fazer uma versão vegetariana é só retirar o bacon.</p>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

<!--</body>-->
<!--</html>-->