{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Página inicial{% endblock %}

{% block conteudo %}

<!--<html>-->

<!--<body>-->

<section>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2016/10/21/23/33/stew-1759394_960_720.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Moqueca de banana-da-terra</h4>
            <p class="card-text">Um refogado caprichado, com alho, pimenta dedo-de-moça, pimenta de cheiro e raiz e talos de coentro dá uma potência de sabor para essa versão vegana do clássico preparo brasileiro.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2016/11/06/23/33/zucchini-1804460_960_720.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Abobrinha cozida no molho de tomate</h4>
            <p class="card-text">Por que ensopado tem que ser de carne, peixe ou frango? Abobrinha cozida no molho de tomate fica incrível.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://images.unsplash.com/photo-1588566565463-180a5b2090d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Tagine de legumes</h4>
            <p class="card-text">Prato principal sem carne e com escala em Marrakesh. Para melhorar, é preparo rápido, daqueles que encaixam fácil em dia de semana.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://images.pexels.com/photos/4451869/pexels-photo-4451869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Ragu de cenoura</h4>
            <p class="card-text">Olha esse ragu de cenoura cheio de especiarias! Uma misturinha de temperos típica do Marrocos, é o segredo deste prato super aromático.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://images.pexels.com/photos/674576/pexels-photo-674576.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Ensopado de curry</h4>
            <p class="card-text">Uma combinação de especiarias, ervas e legumes aromáticos forma a base de sabor desse ensopado que perfuma a casa toda.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2015/09/03/09/58/polenta-920267_960_720.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Polenta de ragu com cogumelos</h4>
            <p class="card-text">No lugar do tradicional ragu de carne, esta receita de polenta é servida com um mix de cogumelos cozidos em vinho tinto. Um arraso!</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2015/01/07/19/00/fall-591800_960_720.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Quibe de abóbora com ricota</h4>
            <p class="card-text">O quibe de abóbora entrou no cardápio geral, há muito deixou de ser exclusividade de quem é vegetariano.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://images.pexels.com/photos/53821/pexels-photo-53821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">brócolis cremoso com crocante de castanha </h4>
            <p class="card-text">O brócolis vai ao forno com uma farofinha de castanha, fica cremoso, com uma crosta dourada e crocante. Para fazer uma versão vegetariana é só retirar o bacon.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>

{% endblock %}

<!--</body>-->
<!--</html>-->