{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Página inicial{% endblock %}

{% block conteudo %}

<!--<html>-->

<!--<body>-->

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2021/02/05/22/52/brigadeiro-5986270_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BRIGADEIRO DE MICRO-ONDAS DE CHOCOLATE AMARGO</h5>
          <p class="card-text">Brigadeiro de micro-ondas tem duas vantagens: o preparo é rápido e você pode fazer pouquinho, sem o risco de açucarar. O segredo para ficar equilibrado é usar chocolate amargo.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/2144200/pexels-photo-2144200.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">TORTA DE CHOCOLATE</h5>
          <p class="card-text">É só amassar, rechear e geladeira nela! Além de prática, ela também faz bonito na apresentação e na combinação de sabores. Um espetáculo!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2016/05/21/04/37/pudding-1406386_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">PUDIM DE ABÓBORA COM ESPECIARIAS</h5>
          <p class="card-text">Fica cremosão, perfumado e lindo. Sobremesa inspirada na pumpkin pie, torta tradicional nos Estados Unidos e Canadá.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2015/07/13/00/52/brigadier-842641_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BEIJINHO</h5>
          <p class="card-text">Nessa versão cremosa, o beijinho fica perfeito para ser comido de colher. Já pensou uma colherada de beijinho no bolo gelado de coco?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/1359322/pexels-photo-1359322.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BOLO DE FUBÁ CREMOSO</h5>
          <p class="card-text">A versão cremosa do bolo de fubá tem aquele sabor de sobremesa caprichada. Depois de assado, ele fica com aquela mistura de texturas.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2014/04/05/11/18/christmas-314945_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BOLINHO DE CHUVA COM DOCE DE LEITE CREMOSO</h5>
          <p class="card-text">Como melhorar um clássico? Mergulhando em outro clássico. Aqui o bolinho de chuva, morninho, ganha um banho de doce de leite cremoso a cada mordida.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2015/03/11/12/42/chocolate-brownies-668624_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BROWNIE</h5>
          <p class="card-text">O brownie foi inventado nos Estados Unidos, mas é sensação no mundo inteiro. Caia em tentação e prepare rapidinho esta receita unânime.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2014/11/28/21/19/pumpkin-cake-roll-549265_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ROCAMBOLE DE DOCE DE LEITE</h5>
          <p class="card-text">Muita gente acha pão de ló uma receita difícil. Mas com alguns segredos, você vai ver que até criança consegue preparar. E o recheio é pura nostalgia.</p>
        </div>
      </div>
    </div>
  </div>

<!--</body>-->

<!--</html>-->