{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Frutos do Mar{% endblock %}

{% block conteudo %}

<!--<html>-->

<!--<body>-->

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/3217155/pexels-photo-3217155.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">RISOTO DE CAMARÃO</h5>
          <p class="card-text">A receita é prática, não precisa de mil panelas e com certeza vai agradar, afinal risoto é sempre uma delícia. Agora, definitivamente, não tem desculpas para não fazer esse risoto de camarão. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/7700261/pexels-photo-7700261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ESPETINHOS DE LULA</h5>
          <p class="card-text">Esses espetinhos lembram os pintxos, petiscos bascos quase sempre servidos no palito. As lulas, cortadas no tamanho de um bocado, ficam lindas, saborosas, com gostinho de churrasco.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2018/04/20/12/58/tom-yum-kung-3335933_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">SOPA TAILÂNDESA DE CAMARÃO</h5>
          <p class="card-text">Inspirada na Tom Kha Gai, receita tradicional tailandesa, esta sopa é exótica, perfumada, um sucesso na mesa. Prepare o caldo com cascas e cabeças de camarão, é reaproveitamento de luxo!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2017/11/02/19/13/pasta-2912183__340.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">MACARRÃO COM CAMARÃO E MOLHO ROSÉ</h5>
          <p class="card-text">Uma receita preparada em uma panela só. O cabelinho de anjo, aquela massa bem fininha, cozinha no molho, que fica todo cremosão.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2016/09/26/23/16/cone-of-siri-1697319__340.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">CASQUINHA DE SIRI</h5>
          <p class="card-text">Esta apetitosa entrada com cara e sabor de praia é irresistível. Convide os amigos, faça uma caipirinha e aproveite!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/8250716/pexels-photo-8250716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ESPETINHOS DE CAMARÃO PICANTE</h5>
          <p class="card-text">A mistura de ervas e especiarias deixa o camarão que já é todo trabalhado no sabor ainda mais delicioso. Em forma de espetinho, é sabor de brisa do mar batendo no rosto e areia encostando no pé.</p>
        </div>
      </div>
    </div>
  </div>

  
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2017/11/12/15/12/shrimp-2942731__340.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">RISOTO DE CAMARÃO, ALHO-PORÓ E LARANJA</h5>
          <p class="card-text">Nesta receita, o clássico risoto de camarão ganha um toque especial das raspas da laranja e do alho-poró. Sirva para os amigos e prepare-se para os elogios!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2018/09/26/00/15/bobo-shrimp-3703528__480.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BOBÓ DE CAMARÃO</h5>
          <p class="card-text">O clássico baiano ganhou mais sabor com leite de coco caseiro e caldo de camarão, preparado com as cascas. Para ficar ainda mais arretado, sirva com farofa de coco, arroz branco e folhas de coentro.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!--</body>-->
<!--</html>-->