{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Frutos do Mar{% endblock %}

{% block conteudo %}

<!--<html>-->

<!--<body>-->

  <section>

    <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://cdn.pixabay.com/photo/2018/04/20/12/58/tom-yum-kung-3335933_960_720.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Sopa tailândesa de camarão </h4>
              <p class="card-text">Inspirada na Tom Kha Gai, receita tradicional tailandesa, esta sopa é exótica, perfumada, um sucesso na mesa. Prepare o caldo com cascas e cabeças de camarão, é reaproveitamento de luxo!</p>
     <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

      <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://cdn.pixabay.com/photo/2014/09/19/19/37/scampi-452965__340.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Ensopadinho de camarão com chuchu</h4>
              <p class="card-text">O chuchu é um legume injustiçado: espalham por aí que ele é sem graça. Mas, na verdade, ele só pega o sabor dos alimentos mais marcantes, no caso do ensopado, o camarão!</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://images.pexels.com/photos/7700261/pexels-photo-7700261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Espetinhos de lula</h4>
              <p class="card-text">Esses espetinhos lembram os pintxos, petiscos bascos quase sempre servidos no palito. As lulas, cortadas no tamanho de um bocado, ficam lindas, saborosas, com gostinho de churrasco.</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://cdn.pixabay.com/photo/2017/11/02/19/13/pasta-2912183__340.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Macarrão com camarão e molho rosé</h4>
              <p class="card-text">Uma receita preparada em uma panela só. O cabelinho de anjo, aquela massa bem fininha, cozinha no molho, que fica todo cremosão.</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://cdn.pixabay.com/photo/2018/09/26/00/15/bobo-shrimp-3703528_960_720.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Bobó de camarão</h4>
              <p class="card-text">O clássico baiano ganhou mais sabor com leite de coco caseiro e caldo de camarão, preparado com as cascas. Para ficar ainda mais arretado, sirva com farofa de coco, arroz branco e folhas de coentro.</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://images.pexels.com/photos/8250716/pexels-photo-8250716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Espetinhos de camarão</h4>
              <p class="card-text">A mistura de ervas e especiarias deixa o camarão que já é todo trabalhado no sabor ainda mais delicioso. Em forma de espetinho, é sabor de brisa do mar batendo no rosto e areia encostando no pé.</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://cdn.pixabay.com/photo/2019/05/01/16/57/glass-noodle-salad-4171364_960_720.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Salada thai com camarão e frutas</h4>
              <p class="card-text">Quer conhecer sabores exóticos sem sair de casa? Então não perca essa maravilhosa combinação tailandesa de frutas com camarão e amendoim torrado.</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
            <img src="https://cdn.pixabay.com/photo/2017/11/12/15/12/shrimp-2942731__340.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title py-3">Risoto de camarão, alho poró e laranja</h4>
              <p class="card-text">Nesta receita, o clássico risoto de camarão ganha um toque especial das raspas da laranja e do alho-poró. Sirva para os amigos e prepare-se para os elogios!</p>
               <a href="#" class="blog-post">Saber mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>

</section>

{% endblock %}

<!--</body>-->
<!--</html>-->