{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Frutos do Mar{% endblock %}

{% block conteudo %}

<!--<html>-->

<!--<body>-->

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/sopas/sopa tailandesa.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">SOPA TAILÂNDESA DE CAMARÃO</h5>
          <p class="card-text">Inspirada na Tom Kha Gai, receita tradicional tailandesa, esta sopa é exótica, perfumada, um sucesso na mesa. Prepare o caldo com cascas e cabeças de camarão, é reaproveitamento de luxo!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/frutosdomar/ensopado de camarao.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ENSOPADINHO DE CAMARÃO COM CHUCHU</h5>
          <p class="card-text">O chuchu é um legume injustiçado: espalham por aí que ele é sem graça. Mas, na verdade, ele só pega o sabor dos alimentos mais marcantes, no caso do ensopado, o camarão! É por isso que esse prato rende que é uma beleza.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/frutosdomar/espeto de lula.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ESPETINHOS DE LULA</h5>
          <p class="card-text">Esses espetinhos lembram os pintxos, petiscos bascos quase sempre servidos no palito. As lulas, cortadas no tamanho de um bocado, ficam lindas, saborosas, com gostinho de churrasco.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/frutosdomar/macarrao com camarao.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">MACARRÃO COM CAMARÃO E MOLHO ROSÉ</h5>
          <p class="card-text">Uma receita preparada em uma panela só. O cabelinho de anjo, aquela massa bem fininha, cozinha no molho, que fica todo cremosão.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/frutosdomar/casquinha de siri.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">CASQUINHA DE SIRI</h5>
          <p class="card-text">Esta apetitosa entrada com cara e sabor de praia é irresistível. Convide os amigos, faça uma caipirinha e aproveite!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/frutosdomar/espeto de camarao.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ESPETINHOS DE CAMARÃO</h5>
          <p class="card-text">A mistura de ervas e especiarias deixa o camarão que já é todo trabalhado no sabor ainda mais delicioso. Em forma de espetinho, é sabor de brisa do mar batendo no rosto e areia encostando no pé.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/frutosdomar/risoto de camarao.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">RISOTO DE CAMARÃO, ALHO-PORÓ E LARANJA</h5>
          <p class="card-text">Nesta receita, o clássico risoto de camarão ganha um toque especial das raspas da laranja e do alho-poró. Sirva para os amigos e prepare-se para os elogios!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/frutosdomar/bobo de camarao.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BOBÓ DE CAMARÃO</h5>
          <p class="card-text">O clássico baiano ganhou mais sabor com leite de coco caseiro e caldo de camarão, preparado com as cascas. Para ficar ainda mais arretado, sirva com farofa de coco, arroz branco e folhas de coentro.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!--</body>-->
<!--</html>-->