{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Lanches{% endblock %}

{% block conteudo %}

<!--<html>-->

<!--<body>-->

<section>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2020/06/14/19/09/pie-lemon-5299060__340.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Torta de limão com merengue</h4>
            <p class="card-text">De básica esta torta não tem nada. O segredo está na gema de ovo: ela deixa o creme brilhante, sedoso e amarelinho. Ponto também para a decoração queimada, um luxo!</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2020/10/06/04/42/pastry-5631222__340.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Bolo de fubá</h4>
            <p class="card-text">Quem resiste a um bolo de fubá quentinho? Feita no liquidificador, esta receita, além de saborosa, é super prática.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2017/08/03/16/39/cheese-bread-2577183__340.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Pão de queijo</h4>
            <p class="card-text">Redondinho e bem dourado, com a casquinha crocante e o miolo levemente puxa-puxa e sabor marcante de queijo: Você pode preparar e assar na hora, pode guardar para assar depois.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2015/01/08/03/08/empanadas-592300__340.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Empanadas de carne</h4>
            <p class="card-text">Rixas futebolísticas à parte, temos que agradecer aos argentinos por esta deliciosa e original receita de empanadas de carne.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2018/03/19/17/47/homemade-bread-3240628__340.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Pão de batata-doce</h4>
            <p class="card-text">Perfeito para preparar sanduíches, ideal para a lancheira das crianças, fofinho, macio, dourado e saboroso. Sabe o que esse pão é? Um sucesso.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2017/11/27/03/39/patty-2980438__480.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Empadinha de frango</h4>
            <p class="card-text">Empadinha de frango é uma daquelas comidas que geram paixões e análises acaloradas sobre o ponto perfeito da massa, amanteigada e quebradiça ao mesmo tempo.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://images.pexels.com/photos/2067424/pexels-photo-2067424.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Cookies de chocolate</h4>
            <p class="card-text">Uma deliciosa contribuição da cozinha norte-americana para o mundo são os cookies. Biscoitos crocantes com gotas de chocolate que derretem na boca.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2021/01/11/12/24/muffins-5908287__480.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Muffin de queijo com espinafre</h4>
            <p class="card-text">Vai bem na lancheira das crianças, na marmita para o trabalho ou até mesmo para variar o jantar da semana acompanhado de uma saladinha. </p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>

{% endblock %}

<!--</body>-->
<!--</html>-->