{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Lanches{% endblock %}


{% block conteudo %}

<!--<html>-->

<!--<body>-->

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/lanches/torta de limao.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">TORTA DE LIMÃO COM MERENGUE</h5>
          <p class="card-text">De básica esta torta não tem nada. O segredo está na gema de ovo: ela deixa o creme brilhante, sedoso e amarelinho. Ponto também para a decoração queimada, um luxo!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/lanches/bolo de fuba.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BOLO DE FUBÁ</h5>
          <p class="card-text">Quem resiste a um bolo de fubá quentinho? Feita no liquidificador, esta receita, além de saborosa, é super prática. Não se esqueça de colocar as sementes de erva-doce, elas fazem toda a diferença.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/lanches/pao de queijo.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">PÃO DE QUEIJO</h5>
          <p class="card-text">Inspirada na Tom Kha Gai, receita tradicional tailandesa, esta sopa é exótica, perfumada, um sucesso na mesa. Prepare o caldo com cascas e cabeças de camarão, é reaproveitamento de luxo!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/lanches/empanadas.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">EMPANADAS DE CARNE</h5>
          <p class="card-text">Rixas futebolísticas à parte, temos que agradecer aos argentinos por esta deliciosa e original receita de empanadas de carne.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/lanches/pao de batata doce.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">PÃO DE BATATA-DOCE</h5>
          <p class="card-text">Perfeito para preparar sanduíches, ideal para a lancheira das crianças, fofinho, macio, dourado e saboroso. Sabe o que esse pão é? Um sucesso.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/lanches/empada de frango.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">EMPADINHA DE FRANGO</h5>
          <p class="card-text">Empadinha de frango é uma daquelas comidas que geram paixões e análises acaloradas sobre o ponto perfeito da massa, amanteigada e quebradiça ao mesmo tempo, o nível perfeito de umidade do recheio, e claro, a azeitona.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/lanches/cookie.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">COOKIES DE CHOCOLATE</h5>
          <p class="card-text">Uma deliciosa contribuição da cozinha norte-americana para o mundo são os cookies. Biscoitos crocantes com gotas de chocolate que derretem na boca. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/lanches/muffin.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">MUFFIN DE QUEIJO COM ESPINAFRE</h5>
          <p class="card-text">Verdinho por causa do espinafre, este muffin é sucesso de audiência no site Panelinha. Vai bem na lancheira das crianças, na marmita para o trabalho ou até mesmo para variar o jantar da semana acompanhado de uma saladinha. </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!--</body>-->
<!--</html>-->