{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Massas{% endblock %}


{% block conteudo %}

<!--<html>-->

<!--<body>-->

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/massas/pizza com borrata.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">PIZZA DE MUÇARELA COM BURRATA</h5>
          <p class="card-text">Você preparou sua própria pizza e merece uma medalha. Não, não, vamos fazer melhor: você merece uma boa burrata!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/massas/ravioli.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">MASSA CASEIRA PARA RECHEAR (RAVIÓLI)</h5>
          <p class="card-text">Uma massa para rechear que fica bem leve e rende pratos elegantes. A ideia é aproveitar as sobras para preparar recheios variados. É reaproveitamento em versão pastifício! </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/massas/lasanha verde.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">LASANHA VERDE À BOLONHESA</h5>
          <p class="card-text">Uma versão 100% caseira do prato favorito para receber a família. Para curtir a cozinha e alimentar as relações em torno da mesa. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/massas/macarrao molho branco.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">MACARRÃO COM MOLHO BRANCO</h5>
          <p class="card-text">O segredo do molho branco perfeito é uma pitadinha de noz-moscada ralada na hora. Depois de servido, lascas de parmesão e um punhado de farofinha crocante dão o toque que faltava para transformar um simples macarrão numa refeição de respeito.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/massas/espaguete com cogumelo.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ESPAGUETE COM COGUMELO</h5>
          <p class="card-text">O molho de cogumelos fica pronto no intervalo entre a água ferver e o macarrão cozinhar. Não dá para ser mais prático. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/massas/nhoque de abóbora.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">NHOQUE DE ABÓBORA</h5>
          <p class="card-text">A abóbora empresta sua cremosidade ao nhoque, que ainda por cima fica com uma cor linda. Mas essas vantagens têm seu preço: por ser mais úmida, ela exige alguns cuidados no preparo para evitar a adição de farinha em excesso. </p>
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/massas/massa de pastel.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">MASSA DE PASTEL CASEIRA</h5>
          <p class="card-text">Com esta massa, até pastel de vento fica inesquecível. O segredo para ficar crocante e bem pururuca é a cachaça. Dá para abrir no rolo ou na máquina de cilindro e depois é só caprichar no recheio.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/imagens/massas/pizza caseira.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">PIZZA CASEIRA DE MUÇARELA</h5>
          <p class="card-text">Mamma mia! Pizza de muçarela é incrível. Ainda mais essa, com massa e molho de tomate caseiros. Capriche no manjericão e chame a família toda para a mesa.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!--</body>-->
<!--</html>-->