{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Massas{% endblock %}

{% block conteudo %}

<!--<html>-->

<!--<body>-->

<section>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://images.pexels.com/photos/4039607/pexels-photo-4039607.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Massa caseira para rechear (ravióli)</h4>
            <p class="card-text">Uma massa para rechear que fica bem leve e rende pratos elegantes. A ideia é aproveitar as sobras para preparar recheios variados. É reaproveitamento em versão pastifício!</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2020/09/26/22/43/meal-5605217__340.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Lasanha verde a bolonhesa</h4>
            <p class="card-text">Uma versão 100% caseira do prato favorito para receber a família. Para curtir a cozinha e alimentar as relações em torno da mesa.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://images.pexels.com/photos/1487511/pexels-photo-1487511.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Macarrão com molho branco</h4>
            <p class="card-text">Depois de servido, lascas de parmesão e um punhado de farofinha crocante dão o toque que faltava para transformar um simples macarrão numa refeição de respeito.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2016/04/15/09/10/pasta-1330541__480.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Espaguete com cogumelo</h4>
            <p class="card-text">O molho de cogumelos fica pronto no intervalo entre a água ferver e o macarrão cozinhar. Não dá para ser mais prático.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2017/12/29/18/17/food-3048228__480.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Nhoque de abóbora</h4>
            <p class="card-text">A abóbora empresta sua cremosidade ao nhoque, que ainda por cima fica com uma cor linda. Mas essas vantagens têm seu preço: por ser mais úmida.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2017/10/24/16/16/pizza-2885089__340.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Massa de pastel caseira</h4>
            <p class="card-text">Com esta massa, até pastel de vento fica inesquecível. O segredo para ficar crocante e bem pururuca é a cachaça. Dá para abrir no rolo ou na máquina de cilindro e depois é só caprichar no recheio.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://images.pexels.com/photos/4109128/pexels-photo-4109128.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Pizza caseira de muçarela</h4>
            <p class="card-text">Mamma mia! Pizza de muçarela é incrível. Ainda mais essa, com massa e molho de tomate caseiros. Capriche no manjericão e chame a família toda para a mesa.</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4 bg-scuba">
          <img src="https://cdn.pixabay.com/photo/2017/05/24/19/32/pizza-2341377__340.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title py-3">Pizza de muçarela com burrata</h4>
            <p class="card-text">Você preparou sua própria pizza e merece uma medalha. Não, não, vamos fazer melhor: você merece uma boa burrata!</p>
            <a href="#" class="blog-post">Saber mais</a>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>

{% endblock %}

<!--</body>-->
<!--</html>-->