{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Sopas{% endblock %}


{% block conteudo %}

<!--<html>-->

<!--<body>-->

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2017/11/23/13/50/pumpkin-soup-2972858__480.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">SOPA DE ABÓBORA</h5>
          <p class="card-text">A abóbora japonesa é naturalmente cremosa — até aveludada. As folhas de sálvia fritas em azeite dão um sabor especial ao prato. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2016/11/13/22/03/tomatoes-1822185__340.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">SOPA DE TOMATE</h5>
          <p class="card-text">Os legumes vão ao forno, passam pelo liquidificador e seguem direto para o prato. É receita de sopa que não usa panela! O resultado é uma sopa saborosa, aveludada e levemente picante.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2017/09/25/18/22/pea-soup-2786133__480.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">SOPA FRIA DE ERVILHA SECA</h5>
          <p class="card-text">Ultra refrescante, esta sopa de ervilha com hortelã é uma ótima opção para começar o jantar numa noite quente de verão. E como é fácil de fazer!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2018/04/20/12/58/tom-yum-kung-3335933_960_720.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">SOPA TAILÂNDESA DE CAMARÃO</h5>
          <p class="card-text">Inspirada na Tom Kha Gai, receita tradicional tailandesa, esta sopa é exótica, perfumada, um sucesso na mesa. Prepare o caldo com cascas e cabeças de camarão, é reaproveitamento de luxo!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2017/01/24/20/30/soup-2006317__340.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">SOPA DE CENOURA ASSADA</h5>
          <p class="card-text">Sopa de cenoura é dessas receitas potentes que surpreendem o paladar. Os legumes vão cortadinhos para o forno com um mix de especiarias. Depois, é só bater no liquidificador com água quente e está pronto o jantar! </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2017/10/08/20/35/soup-2831534__340.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">SOPA DE CEBOLA GRATINADA</h5>
          <p class="card-text">A sopa de cebola é um clássico da culinária francesa, que ganha uma camada especial de sabor depois de ir para o forno com as fatias de pão italiano e queijo gruyère. </p>
        </div>
      </div>
    </div>
  </div>

  
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2018/10/10/22/28/lentil-soup-3738547__480.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">SOPA DE LENTILHA</h5>
          <p class="card-text">Esta receita é diferente. Pensada para uma pessoa que mora sozinha, ela utiliza as sobras planejadas de um cardápio-base: sobrecoxa assada com arroz e lentilha. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/2532442/pexels-photo-2532442.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">CANJA DE GALINHA NA PRESSÃO</h5>
          <p class="card-text">Os ingredientes vão todos para a panela ao mesmo tempo e saem de lá transformados em sopa saborosa e restauradora. O truque para que tudo esteja no mesmo ponto de cozimento perfeito é o arroz: tem que ser o integral.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!--</body>-->
<!--</html>-->