<head>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/login_google.css">
<link rel="icon" href="/static/imagens/icons/usuario.ico">
<script src="/static/js/bootstrap.bundle.min.js"> </script>
<title> Login Conta Google</title>
</head>


<body>
  <div class="caixa">
    <form class="formulario" method="POST" action="/autenticacao/contagoogle">
      <h2 class="texto-topo"> Preencha os campos abaixo para continuar com sua conta Google</h2>
      <input type="text" class="form-control" name="name" placeholder="Nome de usuário" maxlength="30" required />
      <input type="password" class="form-control" name="password" placeholder="Senha" required/>
      <button class="btn btn-warning botao text-light" type="submit" value="Prosseguir"> Continuar</button>
    </form>
  </div>
</body>
