<html>
{% from "_formhelpers.html" import render_field %}
<head>

 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/layout.css">
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <link rel="icon" href="/static/imagens/icons/usuario.ico">


<title>Registro</title>
</head>
<body>

<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 fundo-registro"></div>
      <div class="col-md-8 col-lg-6">
        <div class="registro d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                               {% for mess in get_flashed_messages() %}
                <div class="alert alert-warning" role="alert">
 <strong> {{mess}} </strong>
</div>
 {%endfor%}
                <center>
                  <h1 class="registro-heading mb-4"> Registre-se! </h1>
                </center>
                <form action="/autenticacao/registerr" class="container" method="POST"  enctype="multipart/form-data">
                  {{ form.csrf_token }}
                  <div class="row justify-content-center">
                    <div class="row">
                     {{ render_field(form.username, class="form-control", placeholder="Nome") }}
                    </div>
                    <div class="row">
                       {{ render_field(form.email, class="form-control", placeholder="E-mail") }}
                    </div>
                    <div class="row">
                      {{ render_field(form.password, class="form-control", placeholder="Senha") }}
                    </div>
                     <div class="row">
                      {{ render_field(form.confirm, class="form-control", placeholder="Confirme sua senha") }}
                    </div>
                    <p class="small mt-2 mb-0 ml-9 registro-nome"><strong>Já tem uma conta? <a href="{{url_for('autenticacao.login_wtf')}}" class="link-warning"> Faça login </strong></a></p>
                  </div>
                  <div class="recap">
                      <center>{{recaptcha}}</center>
                  </div>
                  <div class="p-2">
                    <center><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                    <label class="form-check-label text-center registro-nome" for="flexCheckDefault">
                      <h5 class="termos">Aceito os <a href="#" data-bs-toggle="modal" data-bs-target="#Termos" class="link-warning">termos de uso</a>.</h5>
                    </label> </center>
                    <div class="modal fade" id="Termos" tabindex="-1" aria-labelledby="TermosDeUso" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h6 class="modal-title" id="TermosDeUso">Termos de uso e política de privacidade</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <strong>[TERMOS DE USO]</strong><br>
                            Estes termos de serviço regulam o uso deste site. Ao acessá-lo você concorda com estes termos?
                            <br><strong>[FUNÇÃO DO SITE]</strong> <br>
                            Este site foi criado e desenvolvido com a função de trazer conteúdo informativo de boa qualidade. Aqui você encontra receitas de qualidade, passo a passo de cada uma, ingredientes, modo de preparo e vídeos, tudo que você precisa para começar sua receita.
                            Todo o conteúdo que está no site foi desenvolvido buscando materiais confiáveis.
                            <br><strong>[DO ACESSO AO SITE]</strong><br>
                            Funcionará normalmente 24(vinte e quatro horas) por dia.
                            <br><strong>[LICENÇA E USO DE CÓPIA]</strong><br>
                            O visitante poderá acessar todo o conteúdo compartilhado no site.
                            <br><strong>[OBRIGAÇÕES]</strong><br>
                            Não realizar qualquer tipo de ação que prejudique a estrutura do site.
                            Não fazer divulgação indevida nos comentários.
                            Não falar palavrões nos comentários, mantenha o respeito sempre.
                            Um e-mail só pode ser cadastrado uma vez
                            <br><strong>[COMENTÁRIOS ]</strong><br>
                            A área de comentários que permite a exibição de conteúdo de autoria de seu usuário são espaços reservados para que os leitores troquem informações e opiniões, e se preferirem tirar dúvidas também.
                            <br><strong>[POLÍTICA DE PRIVACIDADE]</strong><br>
                            No iReceitas, privacidade e segurança são prioridades, nos comprometemos com a transparência do tratamento dos dados coletados dos nossos usuários. Seus dados não serão divulgados e ficarão armazenados com segurança. Seu e-mail e senha são informações que servem exclusivamente para criar um perfil de usuário. Você pode excluir seus dados a qualquer momento que desejar.
                            <br><strong>[OUTRAS INFORMAÇÕES]</strong><br>
                            Nossos termos de uso e nossa política de privacidade podem ser atualizadas a qualquer momento.

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row-col-xs-12">
                    <center>
                        <input type="submit" class="btn btn-warning botao text-light" value="Cadastrar">
                    </center>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
























</body>
</html>