{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/redefinir_conta.css"> {% endblock %}

{% block icon %}
<link rel="icon" href="/static/imagens/icons/ireceitas.ico"> {% endblock %}

{% block titulo %} Recuperação {% endblock %}

{% block conteudo %}

<div class="container rounded bg-white mt-5 geral">

  {% for mess in get_flashed_messages() %}

  <center>
  
  
  <div class="alert alert-success">
  <strong>{{mess}}</strong> 
</div>
 

  </center>

  {%endfor%}

  <div class="row">
    <div class="col-md-4 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="icone" src="/static/imagens/icon_recuperar_senha.png" width="190" height="190" alt"x"> </div>
    </div>
    <div class="col-md-8">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3 titulo">
          <h2> Recuperação de senha </h2>
          <div class="d-flex flex-row align-items-center back">
          </div>
        </div>
        <form action="/autenticacao/redefinir" method="post">
          <div class="row mt-2">
            <div class="col-md-6"> <input type="email" name="email" placeholder="Digite seu e-mail" class="form-control" required> </div>
          </div>
          <div class="mt-5 text-right"><button class="btn btn-warning botao-enviar" type="submit"> Enviar </button> </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}