@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
    background: #f2f2f2;
    height: 100%;
}

.geral {
    min-height:100%;
    position:relative;
     margin: 0 auto;
    min-width: 100%;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ffa430;
}

.botao{
    background: #ff7f00;
    box-shadow: none;
    border: none;
}

#caixaTextoSobre {
    height: 100px;
    max-height: 100px;
}


#caixaTextoContato {
    height: 200px;
    max-height: 250px;
}

.voltar {
    height: 900x;
    width: 900x;
}

#titulo {
  font-family: "Poppins";
  font-weight: 600;
}

