@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
  font-family: 'Overpass', sans-serif;
   }

img {
 height: 280px;
     }

body {
  background: #f2f2f2;
      }






