@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

body {
  font-family: 'Quicksand', serif;
  background-color: #f2f2f2;
}

.card {
  overflow: hidden;
  border-radius:15px;
  margin-bottom: 35px;
}

h4 {
font-size: 26px;
margin-bottom: 0;
font-weight: 700;
letter-spacing: 1px;
color: #333;
 font-family:'Zen Antique Soft';
}

.card-text {
  color: #262626;
  font-size: 20px;
}

.blog-post{
  display: inline-block;
  padding: 0.5rem 0.6rem;
  letter-spacing: 1px;
  font-size: 1rem;
  color: #fff;
  background-image: linear-gradient( to right, #ffa366 0%, #ff6600 100%);
  border-radius: 12px;
  text-decoration: none;
}

.blog-post:hover{
  background-color: rgba(255, 255, 255, 0.12);
  color: white;
}

@media (max-width:756px) {
  .col-md-4 {
    height:300px;
    overflow:hidden;
    padding-left:1rem;
    padding-right:1rem;
  }

.cadastrar_receita{
  font-family: "Montserrat";
  font-weight: bolder;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 30px;
  background: #d57700;
  position: center;
  height: -150;
  border-radius: 10px;

}