{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/tiposdereceitas.css"> {% endblock %}

{% block titulo %}Editar Receita{% endblock %}

{% block conteudo %}

{% with mensagens = get_flashed_messages() %}
{% if mensagens %}
<div class="alert alert-warning text-center" role="alert">
  {% for mensagem in mensagens %}
  <h2>{{mensagem}}</h2>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="container py-3 cadastrar_receita bordas-arredondadas">
    <div class="row d-flex justify-content-center  h-100">
        <div class="col-14 col-md-8 col-lg-6 col-xl-5">
            <div class="text-white text-center">
                <div class="card-body p-5">
                    <div class="mb-md-5 mt-md-4 pb-5">

                        <form action="/receitasUsuario/edit_receita/{{receita.id}}" method="POST" enctype="multipart/form-data" class="form-row row">

                            <h3 class="text-center fs-1 my-3 cadastrar_receita">EDITAR RECEITAS</h3>

                            <div class="form-group col-sm-12 mb-3">
                                <center> <img src="/receitasUsuario/imagemReceitas/{{receita.img}}" alt="Imagem do animal" height="200" id="imagemReceitas"> </center>
                                <label for="imagem" class="form-label my-3">Escolha uma imagem</label>
                                <input class="form-control" type="file" id="imagem" name="imagemReceitas" onchange="previewImagem()" accept=".png, .jpg, .jpeg, .gif/"  >
                            </div>

                            <div class="form-group mb-3">
                                <label for="tituloReceita" class="form-label">Título:</label>
                                <input type="text" class="form-control" id="tituloReceita" name="titulo" value="{{receita.titulo}}" placeholder="{{receita.titulo}}">
                            </div>

                            <div class="form-group my-3 col-sm-5 mb-3">
                                <label for="TempoDePreparo" class="form-label">Tempo de preparo:</label>
                                <input type="time" class="form-control" id="TempoDePreparo" name="tempo_preparo" value="{{receita.tempo_preparo}}">
                            </div>

                            <div class="form-group my-3 col-sm-7 mb-3">
                                <label for="rendimento" class="form-label">Rendimento:</label>
                                <input type="text" class="form-control" id="rendimento" name="rendimento" value="{{receita.rendimento}}" placeholder="{{receita.rendimento}}">
                            </div>

                            <div class="form-group col-sm-12 mb-3">
                                <label for="Descricao" class="form-label">Descrição</label>
                                <textarea class="form-control entrada" id="Descricao" rows="5"  name="descricao"  placeholder="{{receita.descricao}}"></textarea>
                            </div>

                            <div class="form-group col-12 text-center">
                                <button type="submit" class="btn my-3  btn-lg btn-secondary"><span class="mx-5">Enviar</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  function previewImagem() {
    var imagem = document.querySelector('input[name=imagemReceitas]').files[0];
    var preview = document.querySelector('img[id=imagemReceitas]');
    var reader = new FileReader();
    reader.onloadend = function() {
      preview.src = reader.result;
    }
    if (imagem) {
      reader.readAsDataURL(imagem);
    } else {
      preview.src = "/receitasUsuario/imagemReceitas/{{receita.img}}";
    }
  }
</script>

{% endblock %}