{% extends 'base.html' %}

{% block css %}

<link rel="stylesheet" href="/static/css/tiposdereceitas.css">
{% endblock %}

{% block css2 %}
<link rel="stylesheet" href="/static/css/home.css"> {% endblock %}

{% block icon %}
 <link rel="icon" href="/static/imagens/icons/ireceitas.ico"> {% endblock %}

{% block titulo %}Lista de receitas{% endblock %}

{% block conteudo %}

  <form action="/receitasUsuario/buscarTopico" method="POST" class="container">
     <p class="fs-5">Pesquise por tópico</p>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="inlineCheckbox1" value="CAFÉ DA MANHÃ" name="topico">
      <label class="form-check-label" for="inlineCheckbox1">CAFÉ DA MANHÃ</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="inlineCheckbox1" value="SOPAS" name="topico">
      <label class="form-check-label" for="inlineCheckbox1">SOPAS</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="inlineCheckbox1" value="COMIDAS VEGANAS" name="topico">
      <label class="form-check-label" for="inlineCheckbox1">COMIDAS VEGANAS</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="inlineCheckbox1" value="FITNESS" name="topico">
      <label class="form-check-label" for="inlineCheckbox1">FITNESS</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="inlineCheckbox1" value="FRUTOS DO MAR" name="topico">
      <label class="form-check-label" for="inlineCheckbox1">FRUTOS DO MAR</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="inlineCheckbox1" value="LANCHES" name="topico">
      <label class="form-check-label" for="inlineCheckbox1">LANCHES</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="inlineCheckbox1" value="SOBREMESAS" name="topico">
      <label class="form-check-label" for="inlineCheckbox1">SOBREMESAS</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="inlineCheckbox1" value="MASSAS" name="topico">
      <label class="form-check-label" for="inlineCheckbox1">MASSAS</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="inlineCheckbox1" value="OUTROS" name="topico">
      <label class="form-check-label" for="inlineCheckbox1">OUTROS</label>
    </div>

    <button type="submit" class="btn btn-primary">Pesquisar</button>
  </form>

{% with mensagens = get_flashed_messages() %}
{% if mensagens %}
<div class="container alert alert-warning text-center mt-5" role="alert">
  {% for mensagem in mensagens %}
  <h2>{{mensagem}}</h2>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

{% for receita in receitas %}
<div class="container py-3">
  <div class="card">
    <div class="row ">
      <div class="col-md-4 bg-scuba">
        <img src="/receitasUsuario/imagemReceitas/{{receita.img}}" class="img-thumbnail" alt="..." style=" width:350px;
  height:210px;">
      </div>
      <div class="col-md-8 px-3">
        <div class="card-block px-3">
          <h4 class="card-title py-3">{{receita.titulo}}</h4>
          <p class="card-text">{{receita.descricao}}</p>
          {% for topico in receita.topico %}
            <p class="d-inline mb-3 text-warning">#{{topico.nome}}  </p>
          {% endfor %}
          <p class="fs-5"><strong>Autor(a): </strong>{{receita.user.name}}</p>
          <a href="/receitasUsuario/receita/{{receita.id}}" class="blog-post mb-3">Saber mais</a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endfor %}

{% endblock %}