{% extends 'base.html' %}

{% block titulo %}Minhas receitas{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/receitasUsuario.css"> {% endblock %}

{% block conteudo %}
<center><h1>Minhas Receitas</h1></center>
{% with mensagens = get_flashed_messages() %}
{% if mensagens %}
<div class="alert alert-warning text-center" role="alert">
  {% for mensagem in mensagens %}
  <h2>{{mensagem}}</h2>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

  {% for receita in usuario.receitas %}

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>



  {% endfor %}
</div>

{% endblock %}