{% extends 'base.html' %}

{% block titulo %}Receitas{% endblock %}

{% block conteudo %}

  <div class="row justify-content-center my-5 font-monospace">
    <div class="col-sm-8  col-lg-8">
      <img src="/receitasUsuario/imagemReceitas/{{receita.img}}" class="rounded mx-auto d-block img-fluid" alt="...">
      <p class="my-3 fs-2 text-center">{{receita.titulo}}</p>
      <p class="my-3 fs-3"><strong>Tempo de preparo: </strong><span class="fs-4">{{receita.tempo_preparo}}</span></p>
      <p class="my-3 fs-3"><strong>Rendimento: </strong><span class="fs-4">{{receita.rendimento}}</span></p>
      <p class="my-3 fs-3 text-center"><strong>Descrição</strong></p>
      <p class="my-3 fs-4">{{receita.descricao}}</p>

      <h4 class="text-center my-3"><strong>Adicione um comentário:</strong></h4>
      <form action="/receitasUsuario/addComentario/{{receita.id}}/{{current_user.id}}" method="POST" class="form-row row">
          <div class="form-group col-sm-12">
            <!--         <label for="Comentario" class="form-label">Comentário</label> -->
            <textarea class="form-control" id="comentario" rows="5" name="comentario"></textarea>
          </div>

          <div class="form-group col-12 text-center">
            <button type="submit" class="btn my-3  btn-lg btn-secondary"><span class="mx-5">Publicar</span></button>
          </div>
       </form>

      <h3 class="text-center"><strong>Comentários</strong></h3>
      <div class="container border border-warning rounded-3" style="background-color: #f9f9f9;">
        <div class="row">
                {% for comentario in receita.comentario %}
                 <div class="col-2">
                    <img src="/usuario/imagem/{{comentario.user.profile_img}}" class="img-thumbnail"
                    style="width:200px" alt="...">
                </div>
                <div class="col-10">
                    <p class="fs-4"><strong><a href="/usuario/perfil_publico/{{comentario.userID}}" style="color: D57700">{{comentario.user.name}}</a></strong></p>
                    <p>{{comentario.comentario}}</p>

                    <p>24/11/21</p>
                    {% if comentario.userID == current_user.id %}
                        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#editarComentario{{comentario.id}}">Editar</button>
                        <!-- Modal -->
                        <div class="modal fade" id="editarComentario{{comentario.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Editar Comentário</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                 <form action="/receitasUsuario/editarComentario" method="POST" class="form-row row">
                                  <div class="form-group col-sm-12">
                                    <input type="hidden"  name="idReceita" value="{{receita.id}}">
                                    <input type="hidden"  name="idComentario" value="{{comentario.id}}">
                                    <textarea class="form-control" id="editarComentario" rows="5" name="comentario"  placeholder="{{comentario.comentario}}"></textarea>
                                  </div>
                                  <div class="form-group col-12 text-center">
                                    <button type="submit" class="btn my-3  btn-lg btn-secondary"><span class="mx-5">Editar</span></button>
                                  </div>
                               </form>
                              </div>
                            </div>
                          </div>
                        </div>

                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#apagarComentario{{comentario.id}}">Apagar</button>
                        <!-- Modal -->
                        <div class="modal fade" id="apagarComentario{{comentario.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Apagar Comentário</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                 <p>{{comentario.comentario}}</p>
                                 <form action="/receitasUsuario/apagarComentario" method="POST" class="form-row row">
                                  <div class="form-group col-sm-12">
                                    <input type="hidden"  name="idReceita" value="{{receita.id}}">
                                    <input type="hidden"  name="idComentario" value="{{comentario.id}}">
                                  </div>
                                  <div class="form-group col-12 text-center">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-danger">Apagar</button>
                                  </div>
                               </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endif %}

                </div>
                {% endfor %}

        </div>
      </div>

    </div>
  </div>

{% endblock %}