{% extends 'base.html' %}

{% block titulo %}Minhas receitas{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/receitasUsuario.css"> {% endblock %}

{% block conteudo %}
<center><h1>Minhas Receitas</h1></center>
{% with mensagens = get_flashed_messages() %}
{% if mensagens %}
<div class="alert alert-warning text-center" role="alert">
  {% for mensagem in mensagens %}
  <h2>{{mensagem}}</h2>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="row g-3">
  {% for receita in usuario.receitas %}

<div class="col-12 col-sm-6 col-xl-3 mt-3">
  <div class="container">
  <div class="card">
    <div class="img-cover"><img src="/receitasUsuario/imagemReceitas/{{receita.img}}" alt="...">
      <div class="icon"><svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white" stroke-width="3" />
        </svg>
      </div>
    </div>
    <div class="desc">
      <p class="tdesc">{{receita.titulo}}</p>
      <a href="/receitasUsuario/receita/{{receita.id}}">Clique aqui <svg width="19" height="14" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white" stroke-width="3" />
        </svg></a>
    </div>
  </div>
</div>
</div>



  {% endfor %}
</div>

{% endblock %}