<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<h1>Report de usuário!</h1>
<br>
<form action="" method="POST">
    Nome do meliante:<input type="text" name="nome" placeholder="nome do usuario reportado" required id="">
    E-mail do meliante:<input type="text" name="email" placeholder="email do usuario reportado" required id="">
    Motivo: <textarea name="motivo" id="" cols="20" placeholder="motivo" required rows='10'></textarea>
    <input type="submit" value="Enviar Report">
  </form>
 </html>