<html lang="PT-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/nav-rodape.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="icon" href="/static/imagens/icons/ireceitas.ico">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"> </script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"> </script>
  {% block css %}{% endblock %}
  {% block css2 %} {% endblock %}
  {% block icon %} {% endblock %}
  <title> {% block titulo %}{% endblock %} </title>

</head>

<body></body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/static/imagens/iReceitas.svg" class="logo">
        </a>




        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">


            <form action="/receitasUsuario/buscarReceita" method="POST" class="form-row row">
              <li class="nav-item">
                <div class="search-box">

                  <input class="search-txt" type="text" name="titulo" placeholder="Procure uma receita">
                  <button>
                    <input type="submit" class="search-btn fas fa-search" id="lupa" value="">
                  </button>

                </div>
              </li>
            </form>
{% if current_user.isadmin == True %}
             <li class="nav-item">
            <a class="nav-link" href="/admin"> Admin </a>
             </li>
            {% endif %}

{% if current_user.is_authenticated %}

             <li class="nav-item">
              <a class="nav-link receita "href="/receitasUsuario/cadastrarReceitas/{{current_user.id}}"> <i class="fas fa-file-alt"></i> Nova Receita</a>
            </li>

             {% endif %}


            <li class="nav-item">
              <a class="nav-link" href="/"> Início </a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tópicos
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{url_for('receitas.acompanhamentos')}}">Acompanhamentos</a></li>
                <li><a class="dropdown-item" href="{{url_for('receitas.cafedamanha')}}">Café da manhã</a></li>
                <li><a class="dropdown-item" href="{{url_for('receitas.sopas')}}">Sopas</a></li>
                <li><a class="dropdown-item" href="{{url_for('receitas.comidasveganas')}}"> Comidas Veganas</a></li>
                <li><a class="dropdown-item" href="{{url_for('receitas.comidasfitness')}}"> Fitnesss </a></li>
                <li><a class="dropdown-item" href="{{url_for('receitas.frutosdomar')}}">Frutos do mar</a></li>
                <li><a class="dropdown-item" href="{{url_for('receitas.lanches')}}">Lanches</a></li>
                <li><a class="dropdown-item" href="{{url_for('receitas.docesesobremesas')}}">Sobremesas</a></li>
                <li><a class="dropdown-item" href="{{url_for('receitas.massas_topicos')}}">Massas</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#"> Outros</a></li>
              </ul>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item ">
              <a class="nav-link perfil" href="  {{url_for('usuario.perfil')}} "> Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="  {{url_for('contato.contato')}} "> Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/usuario/buscar_usuario"> Usuários </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="  {{url_for('autenticacao.logout')}} "> Sair</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="  {{url_for('autenticacao.register')}} "> Registrar </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="  {{url_for('autenticacao.login')}} "> Entrar</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

  </header>

  {% block conteudo %} {% endblock %}

  <footer class="footer">
    <div class="ondas">
      <div class="onda" id="onda1"></div>
      <div class="onda" id="onda2"></div>
      <div class="onda" id="onda3"></div>
      <div class="onda" id="onda4"></div>
    </div>

    <ul class="redes">
      <li class="redes_item"><a class="redes_link" href="#">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </a></li>
      <li class="redes_item"><a class="redes_link" href="https://br.pinterest.com/receitasprojetoint/_saved/">
          <ion-icon name="logo-pinterest"></ion-icon>
        </a></li>
      <li class="redes_item"><a class="redes_link" href="#">
          <ion-icon name="logo-discord"></ion-icon>
        </a></li>
      <li class="redes_item"><a class="redes_link" href="https://twitter.com/iReceitas_">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>

      <li class="redes_item"><a class="redes_link" href="https://www.instagram.com/i.receitas_/">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>

    <ul class="links">
      <li class="links_item"><a class="links_link" href="/">Início</a></li>
      <li class="links_item"><a class="links_link" href="/contato/contato">Contato</a></li>

    </ul>
    <p>&copy;2021 iReceitas | All Rights Reserved </p>
  </footer>

</body>
</html>