{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="/static/css/home.css"> {% endblock %}

{% block titulo %}Página inicial{% endblock %}


{% block conteudo %}
      <center>
        <div class="linha-horizontal"></div>
      </center>

      {% for mess in get_flashed_messages() %}

      <center>

        {{mess}}
      </center>

      {%endfor%}

      <!--<h5>Seja bem vindo(a) {# {{ current_user.name }} #}</h5>-->
      <br><br>
      <div class="tudo">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="text-center">
                <img src="/static/imagens/carrossel/Welcome.png" class="rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="text-center">
                <img src="/static/imagens/carrossel/bolonhesa_imagem1.jpeg" class="rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h4 class="texto"><strong>Massas</strong></h4>
                  <a href="{{url_for('receitas.massas')}}">
                    <h5 class="texto"><strong>Como fazer aquela lasanha a bolonhesa deliciosa? </strong></h5>
                  </a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="text-center">
                <a href="https://codepen.io/Danielly_Suousa/pen/zYdxXrV"></a>
                <img src="/static/imagens/carrossel/bolofit_imagem2.jpg" class="rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h4 class="texto"><strong>Comidas Fitness</strong></h4>
                  <a href="{{url_for('receitas.comidasfit')}}">
                    <h5 class="texto"><strong>Como fazer uma Bolo fit delicioso de banana e aveia?</strong></h5>
                  </a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="text-center">
                <img src="/static/imagens/carrossel/bolo_imagem3.jpg" class="rounded" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h4 class="texto"><strong>Sobremesas</strong></h4>
                  <a href="{{url_for('receitas.sobremesas')}}">
                    <h5 class="texto"><strong>Como fazer um maravilhoso bolo de chocolate?</strong></h5>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <center>
        <div class="linha-horizontal"></div>
      </center>




      <center>
        <div class="textoTopo">
        <h1> NOSSAS RECEITAS </h1>
        </div>
      </center>




      <div class="row row-cols-4 row-cols-md-3 g-9">
    <div class="col">
    <div class="card">
      <a target="_blank" href="{{url_for('receitas.acompanhamentos')}}">
        <img src="https://images.pexels.com/photos/723198/pexels-photo-723198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Acompanhamentos</h5>
      </a>
    </div>
  </div>
  </div>
    <div class="col">
      <div class="card">
        <a target="_blank" href="{{url_for('receitas.cafedamanha')}}">
          <img src="https://images.pexels.com/photos/4915571/pexels-photo-4915571.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Café da manhã</h5>
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a target="_blank" href="{{url_for('receitas.comidasfitness')}}">
        <img src="https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Comidas Fitness </h5>
      </a>
    </div>
  </div>
  </div>
  <div class="col">
    <div class="card">
      <a target="_blank" href="{{url_for('receitas.comidasveganas')}}">
        <img src="https://images.pexels.com/photos/7172067/pexels-photo-7172067.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Comidas Veganas</h5>
      </a>
    </div>
  </div>
  </div>
  <div class="col">
    <div class="card">
      <a target="_blank" href="{{url_for('receitas.docesesobremesas')}}">
        <img src="https://images.pexels.com/photos/5695890/pexels-photo-5695890.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Doces e Sobremesas</h5>
      </a>
    </div>
  </div>
  </div>
  <div class="col">
    <div class="card">
      <a target="_blank" href="#">
        <img src="https://images.pexels.com/photos/3843224/pexels-photo-3843224.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Frutos do Mar</h5>
      </a>
    </div>
  </div>
  </div>
  <div class="col">
    <div class="card">
      <a target="_blank" href="#">
        <img src="https://images.pexels.com/photos/1600727/pexels-photo-1600727.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lanches</h5>
      </a>
    </div>
  </div>
  </div>
  <div class="col">
    <div class="card">
      <a target="_blank" href="#">
        <img src="https://images.pexels.com/photos/691114/pexels-photo-691114.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Massas</h5>
      </a>
    </div>
  </div>
  </div>
  <div class="col">
    <div class="card">
      <a target="_blank" href="#">
        <img src="https://images.pexels.com/photos/539451/pexels-photo-539451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=210" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sopas</h5>
      </a>
    </div>
  </div>
  </div>
  </div>

{% endblock %}
