{% extends 'base.html' %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
{% endblock %}

{% block css %}

<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block css2 %}

<link rel="stylesheet" href="/static/css/cards_home.css">
<link rel="stylesheet" href="/static/css/cards_dinamicos.css">
<link rel="stylesheet" href="/static/css/novos_cards.css">
{% endblock %}

{% block icon %}
<link rel="icon" href="/static/imagens/icons/ireceitas.ico"> {% endblock %}

{% block titulo %} iReceitas {% endblock %}

{% block conteudo %}
<center>
  <div class="linha-horizontal"></div>

</center>

{% for mess in get_flashed_messages() %}

<center>
  <div class="alert alert-warning">
    <strong>{{mess}}</strong>
  </div>

</center>
{%endfor%}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" />

</head>

<body>

  <div class="container-fluid my-5">
    <div class="row">
      <div class="col-12 m-auto">
        <div class="owl-carousel owl-theme">
          <div class="item mb-4">
            <div class="card border-0 shadow">
              <img src="https://images.pexels.com/photos/6544227/pexels-photo-6544227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="card-img-top">
              <div class="card-body">
                <div class="card-title text-center">
                  <h4>Acompanhamentos</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card border-0 shadow">
              <img src="https://cdn.pixabay.com/photo/2017/08/02/00/51/food-2569257_960_720.jpg" alt="" class="card-img-top">
              <div class="card-body">
                <div class="card-title text-center">
                  <h4>Café da manhã</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card border-0 shadow">
              <img src="https://images.pexels.com/photos/2747591/pexels-photo-2747591.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="card-img-top">
              <div class="card-body">
                <div class="card-title text-center">
                  <h4>Comidas fitness</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card border-0 shadow">
              <img src="https://images.pexels.com/photos/6128868/pexels-photo-6128868.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="card-img-top">
              <div class="card-body">
                <div class="card-title text-center">
                  <h4>Comidas veganas</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card border-0 shadow">
              <img src="https://images.pexels.com/photos/3992132/pexels-photo-3992132.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="card-img-top">
              <div class="card-body">
                <div class="card-title text-center">
                  <h4>Sobremesas</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card border-0 shadow">
              <img src="https://cdn.pixabay.com/photo/2021/10/16/12/51/pomelo-salad-6714965_960_720.jpg" alt="" class="card-img-top">
              <div class="card-body">
                <div class="card-title text-center">
                  <h4>Frutos do mar</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card border-0 shadow">
              <img src="https://images.pexels.com/photos/2271106/pexels-photo-2271106.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="card-img-top">
              <div class="card-body">
                <div class="card-title text-center">
                  <h4>Lanches</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card border-0 shadow">
              <img src="https://images.pexels.com/photos/5949885/pexels-photo-5949885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="card-img-top">
              <div class="card-body">
                <div class="card-title text-center">
                  <h4>Massas</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card border-0 shadow">
              <img src="https://images.pexels.com/photos/5605569/pexels-photo-5605569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="card-img-top">
              <div class="card-body">
                <div class="card-title text-center">
                  <h4>Sopas</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>
  $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 15,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })

  </script>
</body>

</html>

<br>
<br>
<br>

<body>
  <div class="main">
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://images.pexels.com/photos/1893555/pexels-photo-1893555.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="...">
          </div>
          <div class="card_content">
            <h2 class="texto"> Acompanhamentos </h2>
            <p class="card_text">várias receitas de todos os tipos, venha conferir!</p>
            <a target="_blank" href="{{url_for('receitas.acompanhamentos')}}">
              <button class="botao card_btn">Saber mais</button></a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://images.pexels.com/photos/4915571/pexels-photo-4915571.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="...">
          </div>
          <div class="card_content">
            <h2 class="texto">Café da manhã</h2>
            <p class="card_text">várias receitas de todos os tipos, venha conferir!</p>
            <a target="_blank" href="{{url_for('receitas.cafedamanha')}}">
              <button class="botao card_btn">Saber mais</button></a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="...">
          </div>
          <div class="card_content">
            <h2 class="texto">Comidas fitness</h2>
            <p class="card_text">várias receitas de todos os tipos, venha conferir!</p>
            <a target="_blank" href="{{url_for('receitas.comidasfitness')}}">
              <button class="botao card_btn">Saber mais</button></a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://images.pexels.com/photos/7172067/pexels-photo-7172067.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="...">
          </div>
          <div class="card_content">
            <h2 class="texto">Comidas veganas</h2>
            <p class="card_text">várias receitas de todos os tipos, venha conferir!</p>
            <a target="_blank" href="{{url_for('receitas.comidasveganas')}}">
              <button class="botao card_btn">Saber mais</button></a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://images.pexels.com/photos/827513/pexels-photo-827513.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="...">
          </div>
          <div class="card_content">
            <h2 class="texto">Sobremesas</h2>
            <p class="card_text">várias receitas de todos os tipos, venha conferir!</p>
            <a target="_blank" href="{{url_for('receitas.docesesobremesas')}}">
              <button class="botao card_btn">Saber mais</button></a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://images.pexels.com/photos/3843224/pexels-photo-3843224.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="...">
          </div>
          <div class="card_content">
            <h2 class="texto">Frutos do mar</h2>
            <p class="card_text">várias receitas de todos os tipos, venha conferir!</p>
            <a target="_blank" href="{{url_for('receitas.frutosdomar')}}">
              <button class="botao card_btn">Saber mais</button></a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://images.pexels.com/photos/1600727/pexels-photo-1600727.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="...">
          </div>
          <div class="card_content">
            <h2 class="texto">Lanches</h2>
            <p class="card_text">várias receitas de todos os tipos, venha conferir!</p>
            <a target="_blank" href="{{url_for('receitas.lanches')}}">
              <button class="botao card_btn">Saber mais</button></a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://images.pexels.com/photos/5949889/pexels-photo-5949889.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="...">
          </div>
          <div class="card_content">
            <h2 class="texto">Massas</h2>
            <p class="card_text">várias receitas de todos os tipos, venha conferir!</p>
            <a target="_blank" href="{{url_for('receitas.massas_topicos')}}">
              <button class="botao card_btn">Saber mais</button></a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://images.pexels.com/photos/539451/pexels-photo-539451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=210" alt="...">
          </div>
          <div class="card_content">
            <h2 class="texto">Sopas</h2>
            <p class="card_text">várias receitas de todos os tipos, venha conferir!</p>
            <a target="_blank" href="{{url_for('receitas.sopas')}}">
              <button class="botao card_btn">Saber mais</button></a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <center><div id="linha-horizontal"></div></center>
  <div class="container cartoes">
  <div class="panel active" style="background-image: url('https://images.pexels.com/photos/3023479/pexels-photo-3023479.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
  </div>
  <div class="panel" style="background-image: url('https://images.pexels.com/photos/5695890/pexels-photo-5695890.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');">
  </div>
  <div class="panel" style="background-image: url('https://cdn.pixabay.com/photo/2020/02/11/15/40/shrimp-4839915_960_720.jpg');">
  </div>
  <div class="panel" style="background-image: url('https://images.pexels.com/photos/1028714/pexels-photo-1028714.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');">
  </div>
  <div class="panel" style="background-image: url('https://images.unsplash.com/photo-1619895092538-128341789043?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');">
  </div>
</div>

<script>

const panels = document.querySelectorAll('.panel');

panels.forEach(panel => panel.addEventListener('click',()=>{
    removeActiveClasses()
    panel.classList.add('active');
}))

function removeActiveClasses(){
    panels.forEach(panel => panel.classList.remove('active'))
}


</script>

<center class="linha">Receitas recomendadas para você <i class="fas fa-heart"></i>
<div id="linha-horizontal"></div></center>


<div class="container_1">
  <div class="card_1">
    <div class="img-cover"><img src="https://cdn.pixabay.com/photo/2016/02/18/16/48/tomato-1207570_960_720.jpg" alt="...">
      <div class="icon"><svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white" stroke-width="3" />
        </svg>
      </div>
    </div>
    <div class="desc">
      <h2>Salada</h2>
      <p class="tdesc">Para você que ama aquela salada bem temperada com tomate e manjericão...</p>
      <a href="">Clique aqui <svg width="19" height="14" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white" stroke-width="3" />
        </svg></a>
    </div>
  </div>
  <div class="card_1">
    <div class="img-cover"><img src="https://images.pexels.com/photos/6832697/pexels-photo-6832697.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="...">
      <div class="icon"><svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white" stroke-width="3" />
        </svg>
      </div>
    </div>
    <div class="desc">
      <h2>Omelete</h2>
      <p class="tdesc">Para você que ama aquele omelete com um recheio super cremoso e espinafre...</p>
      <a href="">Clique aqui <svg width="19" height="14" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg" alt="...">
          <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white" stroke-width="3" />
        </svg></a>
    </div>
  </div>
  <div class="card_1">
    <div class="img-cover"><img src="https://cdn.pixabay.com/photo/2018/08/31/19/13/pumpkin-soup-3645375__340.jpg" alt="...">
      <div class="icon"><svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white" stroke-width="3" />
        </svg>
      </div>
    </div>
    <div class="desc">
      <h2>Sopa</h2>
      <p class="tdesc">Para você que ama aquela sopa de cenoura assada com muitas especiarias...</p>
      <a href="">Clique aqui <svg width="19" height="14" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg" alt="...">
          <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white" stroke-width="3" />
        </svg></a>
    </div>
  </div>
  <div class="card_1">
    <div class="img-cover"><img src="https://cdn.pixabay.com/photo/2017/11/27/03/39/patty-2980438__480.jpg" alt="...">
      <div class="icon"><svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white" stroke-width="3" />
        </svg>
      </div>
    </div>
    <div class="desc">
      <h2>Empada</h2>
      <p class="tdesc">Para você que ama aquela empada de frango com a massa perfeita quebradiça por fora e amanteigada por dentro... </p>
      <a href="">Clique aqui <svg width="19" height="14" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white" stroke-width="3" />
        </svg></a>
    </div>
  </div>
  <div class="card_1">
    <div class="img-cover"><img src="https://cdn.pixabay.com/photo/2015/03/11/12/42/chocolate-brownies-668624_960_720.jpg" alt="...">
      <div class="icon"><svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white" stroke-width="3" />
        </svg>
      </div>
    </div>
    <div class="desc">
      <h2>Brownie</h2>
      <p class="tdesc">Para você que ama aquele brownie super macio e com sabor intenso de chocolate...</p>
      <a href="">Clique aqui <svg width="19" height="14" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white" stroke-width="3" />
        </svg></a>
    </div>
  </div>
  <div class="card_1">
    <div class="img-cover"><img src="https://images.pexels.com/photos/1487511/pexels-photo-1487511.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="...">
      <div class="icon"><svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white" stroke-width="3" />
        </svg>
      </div>
    </div>
    <div class="desc">
      <h2>Macarrão</h2>
      <p class="tdesc">Para você que ama aquele macarrão com molho branco e tiras de parmesão...</p>
      <a href="">Clique aqui <svg width="19" height="14" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white" stroke-width="3" />
        </svg></a>
    </div>
  </div>
</div>



</body>

{% endblock %}